<h1>Code Academy Class Exercises</h1>
<ol>
<h2>Week 3 Monday Exercises</h2>
<li>Create a Rails application that displays a list of your favorite movies. <a href="/movies">Movies</a></li>
<li>Create a Rails application that redirects users to other sites based on the last part of the URL, like this:<br>

<a href= "http://localhost:3000/microsoft">localhost:3000/microsoft</a> should redirect users to http://www.microsoft.com<br>
<a href ="http://localhost:3000/google">http://localhost:3000/google</a> should redirect users to http://www.google..com<br>
<a href= "http://localhost:3000/twitter">http://localhost:3000/twitter</a> should redirect users to http://www.twitter..com.</li>

<li>Create a Rails application that lets users submit restaurant recommendations.</li>
</ol>