<h1>Nick's Favorite Movies</h1>

<ol>
	<li>Shawshank Redemption</li>
	<li>The Thin Red Line</li>
	<li>Avatar</li>
	<li>The Last of the Mohicans</li>
	<li>The Ring</li>
	<li>Star Wars</li>
	<li>KungFu Hustle</li>
</ol>