<h1>Recommend a Restaurant</h1>

<form action = "http://localhost:3000/restaurants/create" method = "post">
	Type of Cusine:<input type="text" name="cuisine"><br>
	Name of the Restaurant:<input type="text" name="name"><br>
	<input type="submit">
	<a href = "http://localhost:3000/restaurants">Cancel</a>


</form>