<h1>Recommend a Restaurant</h1>

<form action = "/restaurants/create" method = "post">
	Type of Cusine:<input type="text" name="cuisine"><br>
	Name of the Restaurant:<input type="text" name="name"><br>
	<input type="submit">
	<a href = "/restaurants">Cancel</a>


</form>