<h1>Nick's Restaurant Recommendations</h1>

<ul>
<% @recommended.each do |rec| %>
<li><%= rec.cuisine.capitalize %> : <%= rec.name %></li>
<%end%>
</ul>
<a href="/restaurants/recommend" >Recommend a New Restaurant!</a>